<!DOCTYPE HTML>
<html lang="en" style="height:100%">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="良心农庄">
    <title>良心农庄</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
    <script src="__PUBLIC__/js/zepto.js"></script>
    <script>
        base_path = "__APP__";
    </script>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="良心农庄">

    <script src="__PUBLIC__/js/echo.js"></script>
</head> <a href="javascript:history.go(-1)" style="position:absolute; left:-1px; top:12px;z-index:99999;"><img src="__PUBLIC__/images/a1.png" style="height:25px;"></a> 
{__CONTENT__}

</html>