<!DOCTYPE HTML>
<html lang="en" style="height:100%">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="多利农庄">
    <title>多利农庄微商城</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
    <script src="__PUBLIC__/js/zepto.js"></script>
    <script>
        base_path = "__APP__";
    </script>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="多利农庄">

    <script src="__PUBLIC__/js/echo.js"></script>
</head>
{__CONTENT__}
</html>