
<!--footer 开始-->
<div class="footerWarp">
    <div class="footer">
        <div class="footer_row1 clearfix">
            <dl>
                <dt>食品安全</dt>
                <dd>
                    <a href="/help/help_buyguide.html">有机食品选购指南</a></dd>
                <dd>
                    <a href="/help/help_whyvegorg.html">为何选择有机蔬菜</a></dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd>
                    <a href="/help/help_register.html">账户注册</a></dd>
                <dd>
                    <a href="/help/help_process.html">购物流程</a></dd>
                <dd>
                    <a href="/help/help_structions.html">会员须知</a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd>
                    <a href="/help/help_onlinepay.html">在线支付</a></dd>
                <dd>
                    <a href="/help/help_delivery.html">货到付款</a></dd>
                <dd>
                    <a href="/help/help_invoice.html">发票制度</a></dd>
                <dd>
                    <a href="/help/help_discount.html">抵用券使用规则</a></dd>
                <dd>
                    <a href="/help/help_prepaidCard.html">多利储值卡章程</a></dd>
            </dl>
            <dl>
                <dt>配送说明</dt>
                <dd>
                    <a href="/help/help_coldchain.html">冷链配送</a></dd>
                <dd>
                    <a href="/help/help_door.html">上门自提</a></dd>
                <dd>
                    <a href="/help/help_scopecost.html">配送范围费用与时间</a></dd>
            </dl>
            <dl>
                <dt>帮助中心</dt>
                <dd>
                    <a href="/help/help_instruction.html">退换货政策</a></dd>
                <dd>
                    <a href="/help/getpass.html">找回密码</a></dd>
                <dd>
                    <a href="/help/help_problems.html">常见问题</a></dd>
            </dl>
            <dl class="contact">
                <dt>联系我们</dt>
                <dd>
                    <a href="/help/help_contactus.html">联系我们</a></dd>
            </dl>
        </div>
    </div>
</div>
<!--footer 结束-->
<!--版权开始-->
<div class="copyRight">Copyright © 2005-2015 上海多利农业发展有限公司 版权所有
    <span>沪ICP备15019506号-1</span></div>
<!--版权结束-->
<!--右侧浮动栏 开始-->
<div class="toTop-fixed">
    <div class="siderbar-toTop">
        <a href="#">
            <p>回到
                <br />顶部</p></a>
    </div>
</div>
<div class="right-fixed">
    <div class="siderbar-wx">
        <a href="javascript:void(0)" title="官方微信二维码"></a>
        <div class="thick_wx">
            <div class="wx_pic">
                <img src="__PUBLIC__/images/weixi2.png" width="100" height="100" /></div>
            <div class="wx_text">官方微信二维码</div></div>
    </div>
    <div class="siderbar-xl">
        <a href="http://weibo.com/tonysfarm" target="_blank" title="点击访问官方微博"></a>
    </div>
    <div class="siderbar-cart">
        <a href="<{:U('index/cart')}>" title="点击查看购物车">
            <i>
                <span id="cartIndexRight">0</span></i>
        </a>
        <p class="name">购物车</p></div>
    <div class="siderbar-member">
        <a href="/selfservice/exchange.html" title="卡券兑换"></a>
        <p class="name">卡券兑换</p></div>
    <div class="siderbar-search">
        <a href="javascript:void(0)" class="searchIcon" title="点击进行产品搜索"></a>
        <p class="name">产品搜索</p>
        <div class="thick_search">
            <div id="searchBox" class="searchBox">
                <input type="text" id="searchInput_right" placeholder="水蜜桃" class="searchInput" name="">
                <input type="button" id="searchBtn" class="searchBtn" name="" value="搜索" onclick="search_product('searchInput_right')"></div>
            <div class="hotSearch">
                <p>热门搜索：
                    <a href="/item/productdetail-1519.html" target="_blank">水蜜桃</a></p>
            </div>
            <div class="historySearch">
                <p>历史搜索：
                    <a href="#">大红提子500g</a>
                    <a href="#">大红提子500g</a></p>
            </div>
        </div>
    </div>
</div>
<div class="pop_cart" style="display: none;">
    <div class="pop_buy">
        <ul id="item_added">
            <li class="b0">
                <div id="cart_tip_img" class="pic">
                    <img src=""></div>
                <div id="cart_tip_name" class="name">
                    <br>
                    <span></span></div>
                <div id="cart_tip_price" class="price"></div></li>
        </ul>
    </div>
</div>
<!--右侧浮动栏 结束-->
</body>
<script>
    $(window).ready(function(){
        updateCartNum();
    })
</script>
</html>