<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>多利农庄,有机蔬菜,安心食材,优质食品网上一站式购物平台</title>
    <meta name="Keywords" content="有机蔬菜,有机食品,安心食材,优质食材,天然食品,绿色食品,有机,蔬菜水果,肉蛋禽奶,海鲜,水产,粮油,副食,多利农庄,多利,商务礼品,礼品册,礼品卡,礼品定制,高端" />
    <meta name="Description" content="多利农庄官网上海规模最大专业从事有机蔬菜种植和销售的有机农庄,采用从田间到餐桌直供会员服务模式,为消费者提供安全、健康的有机蔬菜,全国销售热线：400-820-2162" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
    <script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/site.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/cart.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script>
        base_path = "__ROOT__/index.php"
    </script>
</head>