<include file="Public:pcHeader" />
<body>
<div class="headerWapper">
    <div class="header clearfix">
        <div class="topbar">
            <div class="tel">
                <i>
                </i>
                <span>400-654-1016</span></div>
            <div class="fastLoginBox">
                <notempty name="Think.session.uid">您好
                    <{$Think.session.nickname}>
                    <a href="<{:U('user/index')}>" class="loginMember">
                        <b>[进会员中心]</b>
                    </a>&nbsp;&nbsp;
                    <a href="<{:U('common/logout')}>">注销</a>;
                    <else />
                <span>
                  <a href="<{:U('common/login')}>?id=1">注册</a></span>
                    <span id="none">|</span>
                <span id="logId">
                  <a href="<{:U('common/login')}>?id=0">登录</a></span>
                </notempty>
            </div>
        </div>
        <div class="logo">
            <a href="<{:U('index/index')}>">
                <img src="__PUBLIC__/images/logo.jpg" /></a>
        </div>
        <div class="header_r">
            <div class="header_r_t clearfix">
                <div class="searchBox_warp">
                    <div class="searchBox" id="searchBox">
                        <input name="" type="text" class="searchInput" placeholder="菠菜" value="" id="searchInput_header" />
                        <input name="" type="button" class="searchBtn" id="searchBtn" value="搜索" onClick="search_product('searchInput_header')" />
                        <input type="hidden" id="keyword" />
                        <input type="hidden" id="from" />
                        <input type="hidden" id="to" />
                        <input type="hidden" id="pg" /></div>
                </div>
            </div>
            <div class="header_r_b clearfix">
                <!-- 主导航开始 -->
                <div class="navBox">
                    <ul class="nav clearfix">
                        <li>
                            <a href="<{:U('index/index')}>" class="nav1">
                                <span>首页</span></a>
                        </li>
                        <li>
                            <a href="/index.php/Index/news.html?id=1" class="nav2">
                                <span>公司简介
</span></a>
                           
                        </li>
                        <li>
                            <a href="<{:U('goods/index')}>" class="nav3">
                                <span>优选食材</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <volist name="goodsType" id="vo">
                                        <p>
                                            <a href="<{:U('goods/index')}>?type=<{$key}>">
                                                <{$vo}></a>
                                        </p>
                                    </volist>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/index.php/Index/newsList.html?cid=3" class="nav4">
                                <span>公司动态</span></a>
                         
                        </li>
                        <li>
                            <a href="/index.php/Index/news.html?id=2" class="nav5">
                                <span>联系我们</span></a>
                        </li>
                        <li>
                            <a href="<{:U('index/newsList')}>" class="nav6">
                                <span>走进农庄</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <volist name="Cat" id="vo">
                                        <p>
                                            <a href="<{:U('index/newsList')}>?cid=<{$key}>">
                                                <{$vo}></a>
                                        </p>
                                    </volist>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 主导航结束 -->
                <!-- 定义购物车 -->
                <!-- 定义购物车的时候，这个div里用到的id值和class值是固定的，不能更改 -->
                <div class="shopCartBox" id="shopCartBox">
                    <div class="shopCart">
                        <a href="<{:U('index/cart')}>" rel="nofollow" id="mycart" title="购物车" class="cartTxt">购物车</a>
                        <a href="#" class="cartIcon"></a>
                        <a href="#" class="cartNum">
                            <span id="carts">0</span></a>
                    </div>
                </div>
                <!-- 定义购物车 -->
            </div>
        </div>
    </div>
</div>
{__CONTENT__}
<include file="Public:pcFooter" />