<include file="Public:pcHeader"/>
<link href="__PUBLIC__/css/giftconfirm.css" rel="stylesheet"/>
<style>
    #loginWarp {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(12, 12, 12, 0.5);
        z-index: 9999;
    }
</style>

<div class="main">
    <!-- 订单确认开始 -->
    <div class="orderConfirm_h clearfix">
        <div class="orderConfirm_h_l">
            <div class="logo">
                <a href="<{:U('index/index')}>">
                    <img src="__PUBLIC__/images/logo.jpg"></a>
            </div>
        </div>
        <div class="orderConfirm_h_r">
            <ul class="shopProgressBar">
                <li>
                    <a href="<{:U('index/cart')}>" class="step1"></a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="step_line"></a>
                </li>
                <li>
                    <a href="<{:U('user/cart')}>" class="step2_on"></a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="step_line"></a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="step3"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="orderConfirm_h2 clearfix">
        <span>-订单结算-</span></div>
    <form action="<{:U('user/buy')}>" method="post">
        <div class="acceptadd leftbox">
            <div class="addressBox_h" id="wocao">
                <h2 class="title">送货地址
                    <s></s>
                </h2>

                <h3 id="defaultAddress">送至：</h3>
                <a href="<{:U('user/address')}>" class="newadd">使用新地址</a></div>
            <div class="addressBox_c">
                <ul class="select_address nolist leftbox" id="memberAddressListUL">
                    <volist name="address" id="vo">
                        <li>
                            <label>
                                <input onclick="changeAddDis('送至：<{$vo.address}>收货人：<{$vo.name}>(<{$vo.phone}>)')"
                                       name="address" data-defalut="<{$vo.defalut}>" value="<{$vo.id}>" type="radio"><{$vo.address}>-<{$vo.name}>(<{$vo.phone}>)
                            </label>
                    </volist>
                </ul>
            </div>
        </div>

        <div class="goodslist leftbox">
            <div class="goodslist_h">
                <h2 class="title">商品清单</h2>
                <a href="<{:U('index/cart')}>">返回修改购物车</a></div>
            <div class="goodslist_c">
                <ul class="goodsListTit">
                    <li class="clearfix">
                        <div class="goodsInfo">商品信息</div>
                        <div class="price">单价</div>
                        <div class="number">购买数量</div>
                        <div class="subtotal">小计</div>
                    </li>
                </ul>
                <ul class="goodsListCont" id="goodslist_table">
                    <volist name="data" id="vo">
                        <li class="clearfix">
                            <input type="hidden" name="gid[]" value="<{$vo.gid}>" />
                            <input type="hidden" name="num[]" value="<{$vo.num}>" />
                            <div class="goods_orderInfo"></div>
                            <div class="goods_info">
                                <div class="goodsInfo">
                                    <div class="showImg">
                                        <img src="__ROOT__/upload/<{$vo.img}>" height="80" width="80"></div>
                                    <p class="goodsName"><{$vo.name}></p>

                                    <p class="goodsDesc"></p>
                                </div>
                                <div class="price">¥<{$vo.price}></div>
                                <div class="number"><{$vo.num}></div>
                                <div class="subtotal">¥<{$vo['price']*$vo['num']}></div>
                            </div>
                        </li>
                    </volist>
                </ul>
                <div class="subtotalBox" id="allproductPrice">小计：¥<{$amount}></div>

            </div>

            <div class="comfirm_warp leftbox">
                <div id="order_sum" class="accounts mt10" data-url="/neworder/getOrderTrading.jspa">
                    <div class="accounts_con clearfix">
                        <p class="w115">商品金额
                            <br>￥
                            <span id="goodsTotalAmount"><{$amount}></span></p>
                        <ins class="add">+</ins>
                        <div class="acc_popMian transportbox">
                            <p class="w115">运费金额
                                <br>￥
                                <span id="deliveryPrice"><{$yunfei}></span>
                            </p>
                        </div>

                        <ins class="equal">=</ins>
                        <p class="accounts_total">
                  <span>应付金额
                    <br>
                    <em class="font14">￥</em>
                    <strong class="font24 red" id="factual-balance"><{$amount+$yunfei}></strong></span>
                        </p>
                    </div>
                    <div class="accounts_fp clearfix mt10">
                        <div class="orderConfirmBox">
                            <img src="__PUBLIC__/images/orderConfirmBtn.jpg" style="cursor: pointer" id="orderConfirmBtn">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--健康礼品订单确认结束-->
        <div class="clearfix"></div>
    </form>
</div>
<script>
    $(window).ready(function () {
        $('#defaultAddress').on('click', function () {
            $('#memberAddressListUL').css('display', 'block');
        });
        $('input:radio[data-defalut]').click();
    })

    $('#orderConfirmBtn').click(function(){
        var addressId = $('input:radio[name="address"]').val();
        if(addressId){
            $('form').submit();
        }else{
            alert('请选择收货地址');
        }
    })

    function changeAddDis(s) {
        $('#defaultAddress').html(s);
        $('#memberAddressListUL').css('display', 'none');
    }

</script>

<include file="Public:pcFooter"/>