<link href="__PUBLIC__/css/member.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/thickbox.css" />
<div class="main clearfix">
    <div class="member leftbox">
        <include file="User:leftNav" />
        <div class="member_right rightbox">
            <div class="member_right_cont leftbox">
                <!--账户首页 开始-->
                <div class="member_panel leftbox">
                    <div class="account_info leftbox">

                        <ul class="member_tabs nolist leftbox">
                            <li class="on" style="cursor: pointer;">账户信息</li>
                        </ul>
                        <!--账户信息开始-->
                        <div class="member_cont leftbox">
                            <div class="welcome leftbox">
                <span>
                  <strong id="show_nickName3"></strong>
                  <i>欢迎光临！</i>
                </span>
                            </div>
                            <div class="account_warp leftbox">
                                <div class="face leftbox">
                                    <img id="showFace" src='<{$info.headimgurl|headImgUrl}>' width="108" height="108" />
                                    <br />
                                    <input type="hidden" id="memberface" name="m.avatar" value='face.jpg' />
                                    <!--<div class="updeteface">-->
                                        <!--<a href="javascript:;" onclick="FaceWinTip()">修改头像</a>-->
                                    <!--</div>-->
                                </div>
                                <ul class="accountInfo_list nolist leftbox">

                                    <li>订单提醒：待支付（
                                        <label  id="daifu"></label>）
                                        <!--待评价（0）--></li>
                                    <li>账户余额：￥
                                        <span><label id="memberBalance"><{$info.money}></label></span>
                                    </li>

                                    <li>我的积分：
                                        <strong id="point"><{$info.coin}></strong>&nbsp;分</li>
                                </ul>
                            </div>
                        </div>
                        <!--账户信息结束-->
                    </div>

                    <!--人气单品推荐 开始-->
                    <div class="recommend_warp leftbox">
                        <div class="recommend leftbox">
                            <div class="recommend_tit leftbox">
                                <span>人气单品推荐</span></div>
                            <div class="recommend_cont leftbox">
                                <div class="recommend_content leftbox">
                                    <div class="recommend_list">
                                        <ul class="list nolist">
                                            <volist name="goods" id="vo">
                                                <li>
                                                    <a href="<{:U('goods/item')}>?id=<{$vo.gid}>" target="_blank">
                                                        <img src="<{$vo.img|headImgUrl}>" width="165" height="168" /></a>
                                                    <div class="name">
                                                        <a href="<{:U('goods/item')}>?id=<{$vo.gid}>" target="_blank"><{$vo.name}></a></div>
                                                    <div class="price">
                                                        <strong>¥<{$vo.price}></strong>
                                                        <span class="popularity" productid=<{$vo.gid}></span>
                                                    </div>
                                                </li>
                                            </volist>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--人气单品推荐 结束--></div>
                <!--账户首页 结束--></div>
        </div>
    </div>
</div>