<div class="member_left leftbox">
    <div class="title" style="border:0;"><img src="__PUBLIC__/images/member_left_tit.gif" width="184" height="46" /></div>
    <div class="memberMenu_warp leftbox" style="margin-top:5px;">
        <dl class="memberMenu nolist leftbox">
            <dd class="current"><a href="<{:U('user/index')}>" title="账户首页">账户首页</a></dd>
        </dl>
        <dl class="memberMenu nolist leftbox">
            <dt>订单中心</dt>
            <dd class=""><a href="<{:U('myOrder')}>" title="我的订单">我的订单</a></dd>
            <!--<dd class=""><a href="" title="我的菜箱">我的菜箱</a></dd>-->
        </dl>
        <dl class="memberMenu nolist leftbox">
            <dt>地址管理</dt>
            <dd class=""><a href="<{:U('address')}>" title="改地址">地址管理</a></dd>
        </dl>
        <dl class="memberMenu nolist leftbox">
            <dt>团队管理</dt>
            <dd class=""><a href="<{:U('team')}>" title="我的团队">我的团队</a></dd>
        </dl>
        <dl class="memberMenu nolist leftbox">
            <dt>财务管理</dt>
            <dd class=""><a href="<{:U('money')}>" title="改地址">我的收入</a></dd>
        </dl>
    </div>
</div>