<div class="member_left leftbox">
    <div class="title" style="border:0;"><img src="__PUBLIC__/images/member_left_tit.gif" width="184" height="46" /></div>
    <div class="memberMenu_warp leftbox" style="margin-top:5px;">
        <dl class="memberMenu nolist leftbox">
            <dd class="current"><a href="<{:U('user/index')}>" title="账户首页">账户首页</a></dd>
        </dl>
        <dl class="memberMenu nolist leftbox">
            <dt>订单中心</dt>
            <dd class=""><a href="<{:U('myOrder')}>" title="我的订单">我的订单</a></dd>
            <!--<dd class=""><a href="" title="我的菜箱">我的菜箱</a></dd>-->
        </dl>
        <dl class="memberMenu nolist leftbox">
            <dt>菜箱管理</dt>
            <dd class=""><a href="<{:U('address')}>" title="改地址">改地址</a></dd>
        </dl>
        <dl class="memberMenu nolist leftbox">
            <dt>多利储值卡</dt>
            <dd class=""><a href="#" title="卡片管理">卡片管理</a></dd>
            <dd class=""><a href="5.html" title="充值">充值</a></dd>
        </dl>


        <dl class="memberMenu nolist leftbox">
            <dt>个人中心</dt>
            <!--<dd class=""><a href="recharge.html" title="充值续费">充值续费</a></dd>-->
            <!--<dd class=""><a href="unicom.html" title="我的联通券">我的联通券</a></dd>-->
            <!--<dd class=""><a href="unicom.html" title="联通礼券使用须知">联通礼券使用须知</a></dd>-->
            <dd class=""><a href="#" title="电子抵用券">电子抵用券</a></dd>
            <!--<dd class=""><a href="#" title="收货地址">收货地址</a></dd>-->
            <!--<dd class=""><a href="accountSecurity.html" title="账户安全">账户安全</a></dd>-->
            <dd class=""><a href="#" title="我的积分">我的积分</a></dd>
            <dd class=""><a href="#" title="消息中心">消息中心</a></dd>
            <dd class=""><a href="#" title="好友推荐">好友推荐</a></dd>
            <dd class=""><a href="#" title="我的收藏">我的收藏</a></dd>
            <dd class=""><a href="5.html" title="账户充值">账户充值</a></dd>
        </dl>
    </div>
</div>