<link href="__PUBLIC__/css/member.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/thickbox.css" />
<div class="main clearfix">
    <div class="member leftbox">
        <include file="User:leftNav" />
        <div class="member_right rightbox">

            <div class="member_right_cont leftbox">

                <form action="<{:U('money')}>" id="search">
                    <div class="operation_right">
                        <select name="type" class="bordersty1 txtsty">
                            <option value="3">店铺收入</option>
                            <option value="4">会员返利</option>
                            <option value="5">团队奖励</option>
                        </select>
                        <input type="submit" class="searchBtn">
                    </div>
                </form>

                <div class="address_warp leftbox">
                    <div class="currentinfo leftbox" id="addressListDiv" >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="addressList">
                            <tr id="addressList">
                                <th>时间</th>
                                <th>金额</th>
                                <th>说明</th>
                            </tr>
                            <volist name="list" id="vo">
                                <tr>
                                    <td><{$vo.time}></td>
                                    <td><{$vo.amount}></td>
                                    <td><{$vo.note}></td>
                                </tr>
                            </volist>
                        </table>
                    </div>
                </div>
                <div class="page"><{$page}></div>

            </div>
        </div>
    </div>
</div>
<script>
    $(window).ready(function(){
        $('select[name="type"]').val('<{$type}>');
    })
</script>
