<link href="__PUBLIC__/css/member.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/thickbox.css" />
<div class="main clearfix">
    <div class="member leftbox">
        <include file="User:leftNav" />
        <div class="member_right rightbox">
            <div class="member_right_cont leftbox" id="dingdanDeli" style="display:block">
                <!--我的订单-查看详情 开始-->
                <div class="orderDetail_warp leftbox">
                    <div class="orderDetail_base leftbox">
                        <div class="baseinfo leftbox">
                            <div class="baseinfo_left leftbox">订单号：<span id="orderCode"><{$info.trade}></span></div>
                            <div class="baseinfo_right rightbox">订单状态：<strong id="status"><{$OrderStatus[$info['status']]}></strong>
                            </div>
                        </div>
                        <div class="tip" id="status_tip">
                            <{$OrderStatus[$info['status']]}>
                            <eq name="info.status" value="1">
                                <a href="<{:U('payOrder')}>?order=<{$info.trade}>">现在支付</a>
                            </eq>
                        </div>
                    </div>

                    <!--订单信息-->
                    <div class="orderDetail leftbox">
                        <div class="tit leftbox"><span>订单信息</span></div>
                        <div class="cont leftbox">
                            <dl id="receiver_info">
                                <dt>收货信息</dt>
                                <dd>收&nbsp;&nbsp;货&nbsp;&nbsp;人：<span id="receiverName"><{$info.address.name}></span> <span id="receiverMobile"><{$info.address.phone}></span></dd>
                                <dd>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：<span id="receiverAddress"><{$info.address.address}></span></dd>
                                <dd>下单时间：<span id="orderDate"><{$info.create_time|MyDate}></span></dd>
                                <gt name="info.status" value="1">
                                    <dd>支付时间：<span><{$info.pay_time|MyDate}></span></dd>
                                    <gt name="info.status" value="2">
                                        <dd>发货时间：<span><{$info.express.time|MyDate}></span></dd>
                                        <dd>发货物流：<span><{$info.express.name}></span></dd>
                                        <dd>发货单号：<span><{$info.express.num}></span></dd>
                                    </gt>
                                </gt>
                            </dl>
                            <div class="orderinfo">
                                <h3>商品清单</h3>
                                <table class="orderinfo_table" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                    <tr id="order_item">
                                        <th>商品编号</th>
                                        <th>商品名称</th>
                                        <th>购买价</th>
                                        <th>配送总数量</th>
                                        <th>小计</th>
                                    </tr>
                                    <volist name="info.goods" id="vo">
                                        <tr>
                                            <td><{$vo.gid}></td>
                                            <td><{$vo.name}></td>
                                            <td>￥<{$vo.buy_price}></td>
                                            <td><{$vo.buy_num}></td>
                                            <td>￥<{$vo['buy_price']*$vo['buy_num']}></td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                                <p class="integral">&nbsp;<!--积分：<span id="order_points">0</span>--></p>

                            </div>
                        </div>
                        <div class="order_crash leftbox">
                            <ul class="rightbox">
                                <li><span class="title">商品金额：</span><span id="discounted_amount">￥<{$info.goods_amount}></span></li>
                                <li><span class="title">运费：</span><span id="freight">￥<{$info.yunfei}></span></li>
                            </ul>
                            <div class="payable_warp leftbox">
                                <div class="payable rightbox"> 应付金额：<strong id="amountPayable">￥<{$info['goods_amount']+$info['yunfei']}></strong> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--我的订单-查看详情 结束-->
            </div>

            <div class="member_right_cont leftbox jiazaiing" style="display:none">
                <!--我的订单-查看详情 开始-->
                <!--订单加载-->
                <div class="jiazaidiv">
                    <div class="jiazaiUp" style="position: relative;">
                        <img src="/images/large_logo.png" width="150" height="150" style="box-shadow:5px 5px 5px rgba(0,0,0,.6);position: absolute;left: 35%; border-radius: 75px; top: 40%; opacity: 0.4;">
                        <div style="position: absolute;margin-top: 160px;left: 28%;opacity: 0.8;font-size:18px;">请稍后，您的订单正在加载中...</div>
                        <div>
                        </div>
                        <!--我的订单-查看详情 结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>