<link href="__PUBLIC__/css/member.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/thickbox.css" />
<div class="main clearfix">
    <div class="member leftbox">
        <include file="User:leftNav" />
        <div class="member_right rightbox">

            <div class="member_right_cont leftbox">

                <!--改地址 开始-->
                <div class="address_warp leftbox">
                    <div class="currentinfo leftbox" id="addressListDiv" >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="addressList">
                            <tr id="addressList">
                                <th>姓名</th>
                                <th>电话</th>
                                <th>积分</th>
                            </tr>
                            <volist name="list" id="vo">
                                <tr>
                                    <td><{$vo.name}></td>
                                    <td><{$vo.phone}></td>
                                    <td><{$vo.coin}></td>
                                </tr>
                            </volist>
                        </table>
                    </div>
                </div>
                <div class="page"><{$page}></div>
                <!--改地址 结束-->
            </div>
        </div>
    </div>
</div>
