<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>了解<{:C('SITE_NAEM')}></title>
    <meta content="app-id=518966501" name="apple-itunes-app" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta content="telephone=no" name="format-detection" />
    <link href="__PUBLIC__/css/comm.css" rel="stylesheet" type="text/css" />
    <style>
        .learnCon {
            width: 100%;
            position: relative;
            margin: 0 auto 100px;
        }
        .learnCon img{
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="learnCon">
        <{$content}>
    </div>
</div>
<!--APP导航开始-->
<include file="Public/footer"/>
</body>
</html>