<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
    <title>在线客服</title>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="__PUBLIC__/css/comm.css" rel="stylesheet"
          type="text/css"/>
    <link href="__PUBLIC__/css/member.css" rel="stylesheet"
          type="text/css"/>
    <script src="__PUBLIC__/js/jquery190.js" language="javascript" type="text/javascript"></script>
</head>
<body>
<div class="h5-1yyg-v11">

    <style>
        p {
            font-size: 14px;
            line-height: 24px;
            margin: 7px 30px 7px 30px;
        }
    </style>

    <!-- 内页顶部 -->
    <include file="Public/header" />
    <section class="clearfix g-member">
        <div class="m-round m-member-nav">
            <{$content}>
        </div>
    </section>

    <include file="Public/footer" />

</div>
</body>
</html>
