<div class="panel panel-default">
    <div class="panel-heading">
        是否开启商家注册
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="" method="post" style="margin: 30px auto;">
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">是否开启商家注册</div>
                            <select class="form-control" name="s">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <button type="submit" style="width: 100%" name="submit" class="btn btn-success">修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(window).ready(function(){
        $('select[name="s"]').val("<{$s}>");
    })
</script>
