<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>时蔬 - 多利农庄 Tony's Farm</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/ingredients.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/leftCommon.css" />

    <script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script src="__PUBLIC__/js/global.js"></script>
    <script src="__PUBLIC__/js/base.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/ingredients.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/cart/tonysfarm-global.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/cart/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/cart/cart.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/baiduTongji.js"></script>
</head>

<body>
<div class="thickdiv"></div>
<div class="topAdWarpper">
    <div class="topAd"><a href="/item/productdetail-1519.html" target="_blank"></a></div>
</div>
<div class="headerWapper">&nbsp;
    <div class="header clearfix">
        <div class="topbar">
            <div class="tel"><i></i><span>400-820-2162</span></div>
            <div class="fastLoginBox">
                <span id="regId"><a href="/login.html?id=1" >注册</a></span>
                <span id="none"> | </span>
                <span id="logId"><a href="/login.html?id=0" >登录</a></span>
            </div>
        </div>
        <div class="logo"><a href="/index.html"><img src="__PUBLIC__/images/logo.jpg" /></a></div>
        <div class="header_r">
            <div class="header_r_t clearfix">

                <div class="searchBox_warp">
                    <div class="searchBox" id="searchBox">
                        <input name="" type="text" class="searchInput" placeholder="" value="" id="searchInput_header"/>
                        <input name="" type="button" class="searchBtn" id="searchBtn" value="搜索" onclick="search_product('searchInput_header')"/>
                        <input type="hidden" id="keyword"/>
                        <input type="hidden" id="from"/>
                        <input type="hidden" id="to"/>
                        <input type="hidden" id="pg"/>
                    </div>
                </div>
            </div>
            <div class="header_r_b clearfix">
                <!-- 主导航开始 -->
                <div class="navBox">
                    <ul class="nav clearfix">
                        <li><a href="/index.html" class="nav1"><span>首页</span></a></li>
                        <li>
                            <a href="/vegbox/deliveryPackage.html" class="nav2"><span>宅配套餐</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <p><a class="zhaipei" href="/vegbox/deliveryPackage.html">有机宅配菜箱</a></p>
                                    <p><a class="zhaipei"  href="/vegbox/deliveryPackage1.html">精品宅配菜箱</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="nav3"><span>优选食材</span></a>
                            <div class="subNav" style="left:-200px; width:600px;">
                                <table class="tableBox">
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2001.html" >水产海鲜</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20020.html">鱼类</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20021.html">虾类</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20022.html">蟹类</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20023.html">贝类</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20024.html">其它</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2002.html">肉禽蛋品</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20025.html">牛肉</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20026.html">猪肉</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20030.html">羊肉</a></td>
                                        -->
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20031.html">禽蛋类</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20032.html">其它</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2004.html">新鲜水果</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20036.html">进口水果</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20037.html">精品水果</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2009.html">粮油杂货</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20048.html">米面杂粮</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20049.html">食用油</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20050.html">意面</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20051.html">麦片</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20052.html">南北货</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2003.html">时令蔬菜</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20033.html">时蔬</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20034.html">菌菇</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20035.html">豆制品</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20011.html">休闲食品</a></th>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20056.html">巧克力</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20057.html">糖果</a></td>
                                        -->
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20058.html">饼干/糕点</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20059.html">零食</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20060.html">坚果</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20061.html">干果</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20062.html">点心</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20014.html">饮料酒水</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20067.html">饮用水</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20068.html">果汁</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20069.html">奶制品</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20091.html">酒类</a></td>

                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20070.html">饮料</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20013.html">冲泡速饮</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20063.html">咖啡</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20064.html">茶</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20065.html">蜂蜜</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20066.html">其他</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20010.html">调味佳品</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20053.html">中式</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20054.html">西式</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20055.html">罐头</a></td>
                                    </tr>
                                    <!--商品部20160426要求增加-->
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2008.html">冷冻食品</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20045.html">面制品</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20047.html">其他</a></td>
                                    </tr>

                                </table>

                            </div>
                        </li>
                        <li>
                            <a href="http://www.tonysfarm.com/ingredients/itemlist-20084.html" class="nav4"><span>卡券专区</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <p><a href="/ingredients/itemlist-20085.html">会员卡</a></p>
                                    <p><a href="/ingredients/itemlist-20086.html">储值卡</a></p>
                                    <p><a href="/ingredients/itemlist-20087.html">礼券/采摘券</a></p>
                                    <p><a href="/ingredients/itemlist-20088.html">礼盒</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/selfservice/exchange.html" class="nav5"><span>卡券兑换</span></a>

                        </li>
                        <li>
                            <a href="/farmintro/video.html" class="nav6"><span>走进农庄</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <p><a href="/farmintro/words.html">庄主寄语</a></p>
                                    <p><a href="/farmintro/video.html">有机农庄</a></p>
                                    <p><a href="/news/newslist.html">农庄新闻</a></p>
                                    <p><a href="/farmintro/team.html">关于多利</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 主导航结束 -->

                <!-- 定义购物车 -->
                <!-- 定义购物车的时候，这个div里用到的id值和class值是固定的，不能更改 -->
                <div class="shopCartBox" id="shopCartBox">
                    <div class="shopCart">
                        <a href="/order/shopcart.html"  rel="nofollow" id="mycart" title="购物车" class="cartTxt">购物车</a>
                        <a href="#" class="cartIcon"></a>
                        <a href="#" class="cartNum"><span  id="carts">0</span></a>
                    </div>
                    <!--购物车悬浮开始-->
                    <div class="shopCartList" id="shopCartList" style="height: auto;z-index:999999;">
                        <div class="nopro" id="nopro">您的购物车里还没有商品哦~ </br> 赶紧去选购吧！</div>
                    </div>
                    <!--购物车悬浮结束-->
                </div>
                <!-- 定义购物车 -->
            </div>
        </div>
    </div>
</div><div class="banner"></div>
<div class="breads" style="height:32px;line-height:32px;">
    <i class="breads_icon"></i>
    <a href="<{:U('index/index')}>">首页</a>

</div>
<div class="main mt35 clearfix">
    <div class="main_l">
        <div class="leftMenuWarp">
            <div class="leftMenu_tit">分类</div>
            <div class="leftMenu_cont">
                <ul class="menuList">
                    <li>
                        <div class="menu">
                            <a href="<{:U('goods/index')}>?type=0" class="menuName <eq name='cid' value="0">on</eq>">全部</a>
                        </div>
                        <div class="subMenu"   >
                        </div>
                    </li>
                    <volist name="goodsType" id="v">
                        <li>
                            <div class="menu">
                                <a href="<{:U('goods/index')}>?type=<{$key}>" class="menuName <eq name='key' value="$cid">on</eq>"><{$v}></a>
                            </div>
                            <div class="subMenu"   >
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <!-- 热销排行 开始 -->
        <div class="leftProView">
            <div class="leftProView_title" id="assozonename1">热销排行</div>
            <div class="leftProView_cont clearfix">
                <!--<div class="preView"><img src="__PUBLIC__/images/preViewBtn.jpg" width="208" height="23" /></div>-->
                <div class="viewBox">
                    <ul class="proList" id="assozoneitem1">
                        <volist name="hots" id="vo">
                            <li>
                                <div class="showPic"><a href="<{:U('goods/item')}>?id=<{$vo.gid}>" title="<{$vo.name}>" target="_blank"><img src="__ROOT__/upload/<{$vo.img}>"></a></div>
                                <div class="showInfo clearfix">
                                    <div class="showInfo_col1">
                                        <div class="name"><a href="<{:U('goods/item')}>?id=<{$vo.gid}>" title="<{$vo.name}>" target="_blank"><{$vo.name}></a></div>
                                    </div>
                                    <div class="showInfo_col2">
                                        <div class="price"><i>¥</i><span><{$vo.price}></span></div>
                                    </div>
                                </div>
                                <div class="showInfo2">"绿色滋养，纯正美味"</div>
                            </li>
                        </volist>
                    </ul>
                </div>

                <!--<div class="nextView"><img src="__PUBLIC__/images/nextViewBtn.jpg" width="208" height="23" /></div>-->
            </div>
        </div>
        <!-- 热销排行 结束 -->

    </div>
    <div class="main_r">
        <div class="bannerShow"><img src="__PUBLIC__/images/banner_itemList.jpg" width="765" height="265" /></div>
        <div class="proClassifyWarpper">
            <div class="proClassify_cont clearfix">
                <input type="hidden" id="pg" />
                <input type="hidden" id="sortby" />
                <div id="noFindList_itemlist" class="noFindList">
                    <span>很抱歉，暂无此类目的商品，请继续关注哦~</span>
                </div>
                <ul id="proList" class="proList">
                    <volist name="list" id="vo">
                        <li style="margin-right:0px;">
                            <div class="showPic">
                                <a href="<{:U('goods/item')}>?id=<{$vo.gid}>" target="_blank" title="<{$vo.name}>"><img src="__ROOT__/upload/<{$vo.img}>" /></a></div>
                            <div class="showInfo">
                                <div class="showInfo_col1">
                                    <div class="name"><a href="<{:U('goods/item')}>?id=<{$vo.gid}>" target="_blank" title="<{$vo.name}>"><{$vo.name}></a></div>
                                    <div class="desc1"></div>
                                </div>
                                <div class="showInfo_col2">
                                    <div class="price"><i>¥</i><span><{$vo.price}></span></div>
                                    <div class="addShopCartBox">
                                        <div class="addNumBox">
                                            <input type="button" class="minus" />
                                            <input type="text" id="tonysfarm_product<{$vo.gid}>" class="inputBorder" value="1" />
                                            <input type="button" class="add" />
                                        </div>
                                        <input type="button" class="addShopCart" onclick="javascript:readytoadd('__ROOT__/upload/<{$vo.img}>', '<{$vo.name}>', '<{$vo.price}>', '<{$vo.gid}>');" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="pageWarpper">
            <{$page}>
        </div>
    </div>
    <div class="line"></div>
    <div class="security">
        <ul class="security_tab clearfix">
            <li class="on"><img src="__PUBLIC__/images/security1.gif" /></li>
            <li><img src="__PUBLIC__/images/security2.gif" /></li>
            <li><img src="__PUBLIC__/images/security3.gif" /></li>
            <li><img src="__PUBLIC__/images/security4.gif" /></li>
            <li><img src="__PUBLIC__/images/security5.gif" /></li>
        </ul>
        <div class="security_cont"> <img src="__PUBLIC__/images/security_show1.gif" /> </div>
        <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show2.gif" /> </div>
        <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show3.gif" /> </div>
        <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show4.gif" /> </div>
        <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show5.gif" /> </div>
    </div> </div>
<!--footer 开始-->
<div class="footerWarp">
    <div class="footer">
        <div class="footer_row1 clearfix">
            <dl>
                <dt>食品安全</dt>
                <dd><a href="/help/help_buyguide.html">有机食品选购指南</a></dd>
                <dd><a href="/help/help_whyvegorg.html">为何选择有机蔬菜</a></dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd><a href="/help/help_register.html">账户注册</a></dd>
                <dd><a href="/help/help_process.html">购物流程</a></dd>
                <dd><a href="/help/help_structions.html">会员须知</a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd><a href="/help/help_onlinepay.html">在线支付</a></dd>
                <dd><a href="/help/help_delivery.html">货到付款</a></dd>
                <dd><a href="/help/help_invoice.html">发票制度</a></dd>
                <dd><a href="/help/help_discount.html">抵用券使用规则</a></dd>
                <dd><a href="/help/help_prepaidCard.html">多利储值卡章程</a></dd>
            </dl>
            <dl>
                <dt>配送说明</dt>
                <dd><a href="/help/help_coldchain.html">冷链配送</a></dd>
                <dd><a href="/help/help_door.html">上门自提</a></dd>
                <dd><a href="/help/help_scopecost.html">配送范围费用与时间</a></dd>
            </dl>
            <dl>
                <dt>帮助中心</dt>
                <dd><a href="/help/help_instruction.html">退换货政策</a></dd>
                <dd><a href="/help/getpass.html">找回密码</a></dd>
                <dd><a href="/help/help_problems.html">常见问题</a></dd>
            </dl>
            <dl class="contact">
                <dt>联系我们</dt>
                <dd><a href="/help/help_contactus.html">联系我们</a></dd>
            </dl>
        </div>
    </div>
</div>
<!--footer 结束-->

<!--版权开始-->
<div class="copyRight">Copyright © 2005-2015  上海多利农业发展有限公司 版权所有 <span>沪ICP备15019506号-1</span> </div>
<!--版权结束-->

<!--右侧浮动栏 开始-->

<div class="toTop-fixed">
    <div class="siderbar-toTop"><a href="#">
        <p>回到<br />
            顶部</p>
    </a></div>
</div>
<div class="right-fixed">
    <div class="siderbar-wx"><a href="javascript:void(0)" title="官方微信二维码"></a>
        <div class="thick_wx">
            <div class="wx_pic"><img src="__PUBLIC__/images/weixi2.png" width="100" height="100" /></div>
            <div class="wx_text">官方微信二维码</div>
        </div>
    </div>
    <div class="siderbar-xl"><a href="http://weibo.com/tonysfarm" target="_blank" title="点击访问官方微博"></a></div>
    <div class="siderbar-cart"><a href="http://www.tonysfarm.com/order/shopcart.html" title="点击查看购物车"><i><span id="cartIndexRight">0</span></i></a>
        <p class="name">购物车</p>
    </div>
    <div class="siderbar-member"><a href="/selfservice/exchange.html" title="卡券兑换"></a>
        <p class="name">卡券兑换</p>
    </div>
    <div class="siderbar-search"><a href="javascript:void(0)" class="searchIcon" title="点击进行产品搜索"></a>
        <p class="name">产品搜索</p>
        <div class="thick_search">
            <div id="searchBox" class="searchBox">
                <input type="text" id="searchInput_right" placeholder="水蜜桃" class="searchInput" name="">
                <input type="button" id="searchBtn" class="searchBtn" name="" value="搜索" onclick="search_product('searchInput_right')">
            </div>
            <div class="hotSearch">
                <p>热门搜索：<a href="/item/productdetail-1519.html" target="_blank">水蜜桃</a></p>
            </div>
            <div class="historySearch">
                <p>历史搜索：<a href="#">大红提子500g</a><a href="#">大红提子500g</a></p>
            </div>
        </div>
    </div>
</div>
<div class="pop_cart" style="display: none;">
    <div class="pop_buy">
        <ul id="item_added">
            <li class="b0">
                <div id="cart_tip_img" class="pic"><img src="__PUBLIC__/images/pro1.jpg"></div>
                <div id="cart_tip_name" class="name">荷美尔出口备案冷冻肋排  500g<br>
                    <span>X 1 加入成功</span></div>
                <div id="cart_tip_price" class="price">¥39.80</div>
            </li>
        </ul>
    </div>
</div>

<!--右侧浮动栏 结束-->


</body>
<script language="javascript">

    $(function() {

        var url = location.href;
        var sortby = $.getCommonParam(url, "sortby");
        var pg=$.getCommonParam(url, "pg");
        $("#sortby").val(sortby);
        $("#pg").val(pg);
        init_item();

        $(".addShopCart").live('click', function() {
            var itemId=$(this).attr("itemId");
            addCart(itemId);
        });


        $(".add").live('click', function() {
            var itemId=$(this).attr("itemId");

            var t = "#tonysfarm_product" + itemId;

            var c = eval($(t).val());

            $(t).attr("value", c + 1);

        });

        $(".minus").live('click', function() {
            var itemId=$(this).attr("itemId");

            var t = "#tonysfarm_product" + itemId;

            var c = eval($(t).val());

            if(c > 1){
                $(t).attr("value", c - 1);
            }

        });
    });

    function itemPage(pg){
        //var sortby = $.trim($("#sortby").val());
        //window.location.href="/ingredients/itemlist-20033.html?sortby="+sortby+"&pg="+pg;
        $("#pg").val(pg);
        $(document).scrollTop($("#proList").offset().top-30);
        init_item();
    }

    function init_item() {
        var shopid='8NvWUHKIf78=';
        var menuid='20033';
        var sortby = $.trim($("#sortby").val());
        var pg = $.trim($("#pg").val());
        $.ajax({
            method : itemMethod.method,
            url : itemMethod.url,
            data:{shopid:shopid,menuid:menuid,sortby:sortby,pg:pg},
            dataType : itemMethod.datatype,
            beforeSend : function(XMLHttpRequest) {
                $("#proList").empty();
                $(".pageWarpper").empty();
            },
            success : function(data) {
                if (data.status == "true") {
                    pg=pg==""?1:parseInt(pg,10);
                    var ul = $("#proList");
                    var list=data.message;
                    var index=1;
                    var str='';
                    if(list.length>0){
                        var p_s=list.length;
                        var s_index=p_s>item_page_size?(p_s-1):p_s;
                        for(var i=0;i<s_index;i++){
                            var d=list[i];
                            if(index%4==0){
                                str = '<li class="mr0">';
                            }else{
                                str = '<li>';
                            }
                            str+= '<div class="showPic"><i class="hot"></i><a href="/item/productdetail-'+d.itemid+'.html" title="'+d.name+'" target="_blank"><img src="'+d.image+'" /></a></div>';
                            str+= '<div class="name"><a href="/item/productdetail-'+d.itemid+'.html" title="'+d.name+'" target="_blank">'+d.name+'</a></div>';
                            str+= '<div class="desc">'+d.intro+'</div>';
                            str+= '<div class="showInfo clearfix">';
                            str+= '  <div class="showInfo_col1">';
                            str+= '    <div class="price"><i>￥</i><span>'+d.price+'</span></div>';
                            str+= '  </div>';
                            str+= '  <div class="showInfo_col2">';
                            str+= '   <div class="addShopCartBox">';
                            str+= '      <div class="addNumBox">';
                            str+= '        <input name="" type="button" class="minus" itemId="' + d.skuid + '" />';
                            str+= '        <input id="tonysfarm_product' + d.skuid + '" type="text" class="inputBorder" value="1" />';
                            str+= '        <input name="" type="button" class="add"  itemId="' + d.skuid + '"/>';
                            str+= '      </div>';
                            str+= '      <input name="" type="button" class="addShopCart" itemId="' + d.skuid + '" />';
                            str+= '    </div>';
                            str+= '  </div>';
                            str+= ' </div>';
                            str+= ' </li>';

                            $("#proList").append(str);
                            index++;
                        }
                        var prev=pg-1;
                        var next=pg+1;
                        if(pg==0){
                            prev=1;
                        }
                        str='';
                        if(pg-1>0){
                            str+='<a class="prePage" href="javascript:void(0);" onclick="itemPage('+prev+')">上一页</a> <a class="prePage2" href="javascript:void(0);" onclick="itemPage('+prev+')"></a>';
                        }else{
                            str+='<a class="prePage" href="javascript:void(0);" >上一页</a> <a class="prePage2" href="javascript:void(0);" ></a>';
                        }
                        str+= '  <input type="text" class="currPage" value="'+pg+'" name="">';
                        if(p_s>item_page_size){
                            str+= ' <a class="nextPage2" href="javascript:void(0);" onclick="itemPage('+next+')"></a> <a class="nextPage" href="javascript:void(0);" onclick="itemPage('+next+')">下一页</a>';
                        }else{
                            str+= ' <a class="nextPage2" href="javascript:void(0);" ></a> <a class="nextPage" href="javascript:void(0);" >下一页</a>';
                        }
                        $(".pageWarpper").append(str);
                    }else{
                        $("#noFindList_itemlist").html('<span>很抱歉，没有找到相关的商品</span>');
                        $("#noFindList_itemlist").show();
                    }
                }else{
                    $("#noFindList_itemlist").html('<span>'+data.message+'</span>');
                    $("#noFindList_itemlist").show();
                }
            }
        });
    }
</script>
</html>