<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><{$info.name}></title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/productdetail.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/imgZoon.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/leftCommon.css" />

    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/global.js"></script>
    <!--script language="javascript">
    function getRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var res = getRequest();
    var par = res['index'];
    if (par != 'gfan') {
        var ua = navigator.userAgent.toLowerCase();
        var contains = function (a, b) {
            if (a.indexOf(b) != -1) {return true;}
        };
        var toMobileVertion = function() {
              //alert(window.location.href);
            window.location.href = 'http://10.0.1.8:8082/tfmobile/item/productdetail-1615.html';
        }
        //if (contains(ua, "ipad") || (contains(ua, "rv:1.2.3.4")) || (contains(ua, "0.0.0.0")) || (contains(ua, "8.0.552.237"))) {return false;}
        if ((contains(ua,"android") && contains(ua,"mobile")) || (contains(ua,"android") && contains(ua,"mozilla")) || (contains(ua,"android") && contains(ua,"opera")) || contains(ua,"ucweb7") || contains(ua,"iphone")) {toMobileVertion();}
    }
    </script-->
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/productdetail.js"></script>

    <script type="text/javascript" src="__PUBLIC__/js/tonysfarm-global.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/cart.js?t=20150122"></script>
    <script type="text/javascript" src="__PUBLIC__/js/comment.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/timeCount.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/login.js"></script>

    <script type="text/javascript" src="__PUBLIC__/js/baiduTongji.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/emarTongji.js"></script>

</head>

<body>



<input type="hidden" value="images/1461637193583.jpg" id="_page_detail_product_image" />

<input type="hidden" value="<{$info.buy_price}>" id="_page_detail_product_price" />
<input type="hidden" value="<{$info.name}>" id="_page_detail_product_name" />
<input type="hidden" value="<{$info.gid}>" id="_page_detail_item_skuid" />
<input type="hidden" value="<{$info.type}>" id="_page_detail_product_category_name" />
<input type="hidden" value="<{$info.cid}>" id="_page_detail_product_category_code" />
<input type="hidden" value="<{$info.gid}>" id="_page_detail_product_code" />


<div class="thickdiv"></div>
<!--div class="topAdWarpper">
    <div class="topAd"><a href="/item/productdetail-1519.html" target="_blank"></a></div>
</div-->

<div class="headerWapper">&nbsp;
    <div class="header clearfix">
        <div class="topbar">
            <div class="tel"><i></i><span>400-820-2162</span></div>
            <div class="fastLoginBox">
                <span id="regId"><a href="/login.html?id=1" >注册</a></span>
                <span id="none"> | </span>
                <span id="logId"><a href="/login.html?id=0" >登录</a></span>
            </div>
        </div>
        <div class="logo"><a href="<{:U('index/index')}>"><img src="__PUBLIC__/images/logo.jpg" /></a></div>
        <div class="header_r">
            <div class="header_r_t clearfix">
                <div class="searchBox_warp">
                    <div class="searchBox" id="searchBox">
                        <input name="" type="text" class="searchInput" placeholder="草莓" value="" id="searchInput_header"/>
                        <input name="" type="button" class="searchBtn" id="searchBtn" value="搜索" onclick="search_product('searchInput_header')"/>
                        <input type="hidden" id="keyword"/>
                        <input type="hidden" id="from"/>
                        <input type="hidden" id="to"/>
                        <input type="hidden" id="pg"/>
                    </div>
                </div>
            </div>
            <div class="header_r_b clearfix">
                <div class="navBox">
                    <ul class="nav clearfix">
                        <li><a href="<{:U('index/index')}>" class="nav1"><span>首页</span></a></li>
                        <li>
                            <a href="<{:U('index/index')}>" class="nav2"><span>宅配套餐</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <p><a class="zhaipei" href="http://www.tonysfarm.com/vegbox/deliveryPackage.html">有机宅配菜箱</a></p>
                                    <p><a class="zhaipei"  href="http://www.tonysfarm.com/vegbox/deliveryPackage1.html">精品宅配菜箱</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="nav3"><span>优选食材</span></a>
                            <div class="subNav" style="left:-200px; width:600px;">
                                <table class="tableBox">
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2001.html" >水产海鲜</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20020.html">鱼类</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20021.html">虾类</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20022.html">蟹类</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20023.html">贝类</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20024.html">其它</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2002.html">肉禽蛋品</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20025.html">牛肉</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20026.html">猪肉</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20030.html">羊肉</a></td>
                                        -->
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20031.html">禽蛋类</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20032.html">其它</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2004.html">新鲜水果</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20036.html">进口水果</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20037.html">精品水果</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2009.html">粮油杂货</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20048.html">米面杂粮</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20049.html">食用油</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20050.html">意面</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20051.html">麦片</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20052.html">南北货</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2003.html">时令蔬菜</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20033.html">时蔬</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20034.html">菌菇</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20035.html">豆制品</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20011.html">休闲食品</a></th>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20056.html">巧克力</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20057.html">糖果</a></td>
                                        -->
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20058.html">饼干</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20059.html">零食</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20060.html">坚果</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20061.html">干果</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20062.html">点心</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20014.html">饮料酒水</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20067.html">饮用水</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20068.html">果汁</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20069.html">奶制品</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20091.html">啤酒</a></td>
                                        <!--20160418商品部暂要求关闭
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20070.html">饮料</a></td>
                                        -->
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20013.html">冲泡速饮</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20063.html">咖啡</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20064.html">茶</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20065.html">蜂蜜</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20066.html">其他</a></td>
                                    </tr>
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-20010.html">调味佳品</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20053.html">中式</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20054.html">西式</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20055.html">罐头</a></td>
                                    </tr>
                                    <!--商品部20160426要求增加-->
                                    <tr>
                                        <th><a href="http://www.tonysfarm.com/ingredients/itemlist-2008.html">冷冻食品</a></th>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20045.html">面制品</a></td>
                                        <td><a href="http://www.tonysfarm.com/ingredients/itemlist-20047.html">其他</a></td>
                                    </tr>

                                </table>

                            </div>
                        </li>
                        <li>
                            <a href="http://www.tonysfarm.com/ingredients/itemlist-20084.html" class="nav4"><span>卡券专区</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <p><a href="http://www.tonysfarm.com/ingredients/itemlist-20085.html">会员卡</a></p>
                                    <p><a href="http://www.tonysfarm.com/ingredients/itemlist-20086.html">储值卡</a></p>
                                    <p><a href="http://www.tonysfarm.com/ingredients/itemlist-20087.html">礼券/采摘券</a></p>
                                    <p><a href="http://www.tonysfarm.com/ingredients/itemlist-20088.html">礼盒</a></p>
                                </div>
                            </div>
                        </li>
                        <li><a href="http://www.tonysfarm.com/selfservice/exchange.html" class="nav5"><span>卡券兑换</span></a>


                        </li>
                        <li><a href="http://www.tonysfarm.com/farmintro/video.html" class="nav6"><span>走进农庄</span></a>
                            <div class="subNav" style="width:78px;">
                                <div class="suvNavList">
                                    <p><a href="http://www.tonysfarm.com/farmintro/words.html">庄主寄语</a></p>
                                    <p><a href="http://www.tonysfarm.com/farmintro/video.html">有机农庄</a></p>
                                    <p><a href="http://www.tonysfarm.com/news/newslist.html">农庄新闻</a></p>
                                    <p><a href="http://www.tonysfarm.com/farmintro/team.html">关于多利</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>


                <!-- 定义购物车 -->
                <!-- 定义购物车的时候，这个div里用到的id值和class值是固定的，不能更改 -->
                <div class="shopCartBox" id="shopCartBox">

                    <div class="shopCart">
                        <a href="/order/shopcart.html"  rel="nofollow" id="mycart" title="购物车" class="cartTxt">购物车</a>
                        <a href="#" class="cartIcon"></a>
                        <a href="#" class="cartNum"><span  id="carts">0</span></a>
                    </div>


                    <!--购物车悬浮开始-->
                    <div class="shopCartList" id="shopCartList" style="height: auto;z-index:999999;">
                        <div class="nopro" id="nopro">您的购物车里还没有商品哦~ </br> 赶紧去选购吧！</div>
                    </div>
                    <!--购物车悬浮结束-->

                </div>
                <!-- 定义购物车 -->

            </div>
        </div>
    </div>
</div>    <div class="breads" style="height:32px;line-height:32px;">
    <i class="breads_icon"></i>
    <a href="<{:U('index/index')}>">首页</a> &gt;
    <a href="<{:U('goods/index')}>?type=<{$info.cid}>"><{$info.type}></a> &gt;
    <a href="#"><{$info.name}></a> &gt;

    <b></b>
</div>
<div class="main mt35 clearfix">
    <div class="prodectDetailBox clearfix">
        <div class="prodectDetailBox_l">
            <div id=preview>
                <div class=jqzoom id=spec-n1>
                    <img height=360 src="__ROOT__/upload/<{$info.img}>" jqimg="__ROOT__/upload/<{$info.img}>" width=360 />
                </div>
                <div id=spec-n5>
                    <div class=control id=spec-left><img src="__PUBLIC__/images/left.jpg" /></div>
                    <div id=spec-list>
                        <ul class=list-h>
                            <li><img src="__ROOT__/upload/<{$info.img}>"></li>
                        </ul>
                    </div>
                    <div class=control id=spec-right><img src="__PUBLIC__/images/right.jpg" /></div>
                </div>
            </div>
        </div>

        <div class="prodectDetailBox_r" style="width:602px;">
            <div class="pro_name"><{$info.name}></div>
            <!--<div class="pro_des">鲜嫩爽口，营养美味</div>-->
            <div class="pro_info2 clearfix" style="width:602px;">
                <ul style="overflow:hidden;margin-top:4px;margin-bottom:4px;height:90px;max-height:90px;">
                </ul>
            </div>
            <div class="pro_info" style="width:600px;">
                <div class="part_spec clearfix">
                    <div class="part_specTit">市场价：<{$info.market_price}></div>
                </div>

                <div class="part_spec clearfix">
                    <div class="part_specTit">库存：<{$info.left_num}></div>
                </div>

                <div class="part_deal">
                    <table border=0 cellspacing=0 cellpadding=0>
                        <tr>
                            <td height=45 valign="middle" class="part_price" style="padding:0;">
                                <div style="height:45px;line-height:45px;"><i class="price">¥</i>&nbsp;<span class="price"><{$info.buy_price}></span></div>
                            </td>
                            <td width=10></td>
                            <td height=45 valign="middle" class="addNumBox" style="padding:0;line-height:45px;">
                                <p><input type="text" value="1" class="inputBorder" style="font-size:18px;font-weight:normal;color:#666;" id="tonysfarm_product211598"></p>
                                <p><input type="button" class="add"><input type="button" class="minus"></p>
                            </td>
                            <td height=45 valign="middle" style="padding:0;line-height:45px;">
                                <input type="button" id="shopcartbtn" style="background-image:url('__PUBLIC__/images/addShopCartBtn2.jpg');background-position:-160px 0px;" class="addShopCart" />
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <div class="productDeatil_c clearfix">
        <div class="main_l">
            <div class="leftMenuWarp">
                <div class="leftMenu_tit">优选食材</div>
                <div class="leftMenu_cont">
                    <ul class="menuList">
                        <volist name="goodsType" id="v">
                            <li><a href="<{:U('goods/index')}>?type=<{$key}>" class="Menu Menu2" target="_blank"><{$v}></a></li>
                        </volist>
                    </ul>
                </div>
            </div>

            <!-- 关联商品显示 开始 -->
            <div class="leftProView">
                <div class="leftProView_title" id="assozonename1">看了该商品的用户还看了</div>
                <div class="leftProView_cont clearfix">
                    <!--<div class="preView"><img src="__PUBLIC__/images/preViewBtn.jpg" width="208" height="23" /></div>-->
                    <div class="viewBox">
                        <ul class="proList" id="assozoneitem1">
                            <volist name="hots" id="vo">
                                <li>
                                    <div class="showPic"><a href="<{:U('goods/item')}>?id=<{$vo.gid}>" title="<{$vo.name}>" target="_blank"><img src="__ROOT__/upload/<{$vo.img}>"></a></div>
                                    <div class="showInfo clearfix">
                                        <div class="showInfo_col1">
                                            <div class="name"><a href="<{:U('goods/item')}>?id=<{$vo.gid}>" title="<{$vo.name}>" target="_blank"><{$vo.name}></a></div>
                                        </div>
                                        <div class="showInfo_col2">
                                            <div class="price"><i>¥</i><span><{$vo.price}></span></div>
                                        </div>
                                    </div>
                                    <div class="showInfo2">"绿色滋养，纯正美味"</div>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <!--<div class="nextView"><img src="__PUBLIC__/images/nextViewBtn.jpg" width="208" height="23" /></div>-->
                </div>
            </div>
            <!-- 关联商品显示 结束 -->

        </div>

        <div class="main_r">
            <div class="proTabBox">
                <ul>
                    <li class="on">产品详情</li>
                    <!--<li>查看评论</li>-->
                </ul>
            </div>
            <div class="proTabBox2">
                <ul>
                    <li class="on">产品详情</li>
                    <!--<li>查看评论</li>-->
                </ul>
                <div id="fixlayer" class="deal" style="width:152px;">
                    <input type="button" id="shopcartbtn2" class="addShopCart" style="width:128px !important;height:33px;margin-left:20px;background-repeat:no-repeat;background-image:url('../images/addShopCartBtn2sm.jpg');background-position:-128px 0px;" />
                </div>
            </div>
            <div class="productCont" >
                <{$info.detail}>
            </div>

            <!--
            <div class="productCont" style="display:none;">
                <div class="gdcomment clearfix">
                    <div class="totalComment" >合计评论（<span id="totalCommentCount">0</span>条）</div>
                    <div class="gdcomment-1">
                        <div class="rate"><strong id="commentGoodPercentageTotal">0%</strong><P>好评度</P></div>
                        <div class="percent">
                            <dl>
                                <dt>满意</dt>
                                <dd class="d1">
                                    <div style="width:100%;" id="commentGoodPercentageWidth"></div>
                                </dd>
                                <dd class="d2"><strong id="commentGoodPercentage">0%</strong></dd>
                            </dl>
                            <dl>
                                <dt>一般</dt>
                                <dd class="d1">
                                    <div style="width:0%;" id="commentRatingPercentageWidth"></div>
                                </dd>
                                <dd class="d2"><strong id="commentRatingPercentage">0%</strong></dd>
                            </dl>
                            <dl>
                                <dt>不满意</dt>
                                <dd class="d1">
                                    <div style="width:0%;" id="commentBadPercentageWidth"></div>
                                </dd>
                                <dd class="d2"><strong id="commentBadPercentage">0%</strong></dd>
                            </dl>
                        </div>
                        <div class="deal">
                            <P>发表评论好换积分</P>
                            <input name="" type="button" class="commentBtn" />
                        </div>
                    </div>

                    <input type="hidden" value="211598" id="pkgProduct" />
                    <div id="item_comment">



                    </div>

                    <div class="pageWarpper" id="commentNextPage">  </div>

                </div>

            </div>

            -->
        </div>
        <div class="line"></div>
        <div class="security">
            <ul class="security_tab clearfix">
                <li class="on"><img src="__PUBLIC__/images/security1.gif" /></li>
                <li><img src="__PUBLIC__/images/security2.gif" /></li>
                <li><img src="__PUBLIC__/images/security3.gif" /></li>
                <li><img src="__PUBLIC__/images/security4.gif" /></li>
                <li><img src="__PUBLIC__/images/security5.gif" /></li>
            </ul>
            <div class="security_cont"> <img src="__PUBLIC__/images/security_show1.gif" /> </div>
            <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show2.gif" /> </div>
            <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show3.gif" /> </div>
            <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show4.gif" /> </div>
            <div class="security_cont" style=" display:none;"> <img src="__PUBLIC__/images/security_show5.gif" /> </div>
        </div> </div>
</div>

<!--footer 开始-->
<div class="footerWarp">
    <div class="footer">
        <div class="footer_row1 clearfix">
            <dl>
                <dt>食品安全</dt>
                <dd><a href="/help/help_buyguide.html">有机食品选购指南</a></dd>
                <dd><a href="/help/help_whyvegorg.html">为何选择有机蔬菜</a></dd>
            </dl>
            <dl>
                <dt>新手指南</dt>
                <dd><a href="/help/help_register.html">账户注册</a></dd>
                <dd><a href="/help/help_process.html">购物流程</a></dd>
                <dd><a href="/help/help_structions.html">会员须知</a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd><a href="/help/help_onlinepay.html">在线支付</a></dd>
                <dd><a href="/help/help_delivery.html">货到付款</a></dd>
                <dd><a href="/help/help_invoice.html">发票制度</a></dd>
                <dd><a href="/help/help_discount.html">抵用券使用规则</a></dd>
                <dd><a href="/help/help_prepaidCard.html">多利储值卡章程</a></dd>
            </dl>
            <dl>
                <dt>配送说明</dt>
                <dd><a href="/help/help_coldchain.html">冷链配送</a></dd>
                <dd><a href="/help/help_door.html">上门自提</a></dd>
                <dd><a href="/help/help_scopecost.html">配送范围费用与时间</a></dd>
            </dl>
            <dl>
                <dt>帮助中心</dt>
                <dd><a href="/help/help_instruction.html">退换货政策</a></dd>
                <dd><a href="/help/getpass.html">找回密码</a></dd>
                <dd><a href="/help/help_problems.html">常见问题</a></dd>
            </dl>
            <dl class="contact">
                <dt>联系我们</dt>
                <dd><a href="/help/help_contactus.html">联系我们</a></dd>
            </dl>
        </div>
    </div>
</div>
<!--footer 结束-->

<!--版权开始-->
<div class="copyRight">Copyright © 2005-2015  上海多利农业发展有限公司 版权所有 <span>沪ICP备15019506号-1</span> </div>
<!--版权结束-->

<!--右侧浮动栏 开始-->

<div class="toTop-fixed">
    <div class="siderbar-toTop"><a href="#">
        <p>回到<br />
            顶部</p>
    </a></div>
</div>
<div class="right-fixed">
    <div class="siderbar-wx"><a href="javascript:void(0)" title="官方微信二维码"></a>
        <div class="thick_wx">
            <div class="wx_pic"><img src="__PUBLIC__/images/weixi2.png" width="100" height="100" /></div>
            <div class="wx_text">官方微信二维码</div>
        </div>
    </div>
    <div class="siderbar-xl"><a href="http://weibo.com/tonysfarm" target="_blank" title="点击访问官方微博"></a></div>
    <div class="siderbar-cart"><a href="http://www.tonysfarm.com/order/shopcart.html" title="点击查看购物车"><i><span id="cartIndexRight">0</span></i></a>
        <p class="name">购物车</p>
    </div>
    <div class="siderbar-member"><a href="/selfservice/exchange.html" title="卡券兑换"></a>
        <p class="name">卡券兑换</p>
    </div>
    <div class="siderbar-search"><a href="javascript:void(0)" class="searchIcon" title="点击进行产品搜索"></a>
        <p class="name">产品搜索</p>
        <div class="thick_search">
            <div id="searchBox" class="searchBox">
                <input type="text" id="searchInput_right" placeholder="水蜜桃" class="searchInput" name="">
                <input type="button" id="searchBtn" class="searchBtn" name="" value="搜索" onclick="search_product('searchInput_right')">
            </div>
            <div class="hotSearch">
                <p>热门搜索：<a href="/item/productdetail-1519.html" target="_blank">水蜜桃</a></p>
            </div>
            <div class="historySearch">
                <p>历史搜索：<a href="#">大红提子500g</a><a href="#">大红提子500g</a></p>
            </div>
        </div>
    </div>
</div>
<div class="pop_cart" style="display: none;">
    <div class="pop_buy">
        <ul id="item_added">
            <li class="b0">
                <div id="cart_tip_img" class="pic"><img src="__PUBLIC__/images/pro1.jpg"></div>
                <div id="cart_tip_name" class="name">荷美尔出口备案冷冻肋排  500g<br>
                    <span>X 1 加入成功</span></div>
                <div id="cart_tip_price" class="price">¥39.80</div>
            </li>
        </ul>
    </div>
</div>

<!--右侧浮动栏 结束-->



<!--到货通知-->
<div class="noticeTip">
    <div class="tit"><span>-到货提示-</span><a href="javascript:void(0)"></a></div>
    <div class="notice_warp">
        <p>亲爱的会员，您好！</p>
        <p>商品到货后我们会<span>邮件</span>您</p>
        <p>邮箱地址：<input name="" type="text" class="border" /> <span>*</span></p>
    </div>
    <div class="footer">
        <input name="" type="button" class="confirmNotice" />
    </div>
</div>
<!--到货通知-->
</body>

<!--script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
<script language="javascript">
    /*alert(remote_ip_info["province"]);
    alert(remote_ip_info["city"]);
    for (i = 0; i < inventorydata.length; i++) {
        if ((remote_ip_info["province"] + '省') == inventorydata[i].geoname || (remote_ip_info["province"] + '市') == inventorydata[i].geoname) {
            alert(i);
        }
    }*/
</script-->

<script language="javascript">

    var inventorydata;
    function chooseprovince(geoid) {
        chgcity();
        html = '<ul class="area-list">\r\n';
        for (i = 0; i < inventorydata.length; i++) {
            if (inventorydata[i].geoid == geoid) {
                $("#stock_province_link").html("<em>" + inventorydata[i].geoname + "</em><i></i>");
                $("#stock_city_link").html("<em>请选择</em><i></i>");
                for (j = 0; j < inventorydata[i].subgeo.length; j++) {
                    html += '    <li><a data-value="' + inventorydata[i].subgeo[j].geoid + '" href="javascript:choosecity(' + inventorydata[i].subgeo[j].geoid + ');">' + inventorydata[i].subgeo[j].geoname + '</a></li>\r\n';
                }
            }
        }
        html += '</ul>\r\n';
        $("#stock_city_item").html(html);
    }



    function search_product(id) {
        var key = $.trim($("#"+id).val());
        if (key == "") {
            key=$.trim($("#"+id).attr("placeholder"));
        }
        window.location.href = "/search.html?keyword=" + key;
    }

    $(function() {

        $(".jqzoom").jqueryzoom({
            xzoom:400,
            yzoom:400,
            offset:10,
            position:"right",
            preload:1,
            lens:1
        });
        $("#spec-list").jdMarquee({
            deriction:"left",
            width:314,
            height:95,
            step:2,
            speed:4,
            delay:10,
            control:true,
            _front:"#spec-right",
            _back:"#spec-left"
        });

        $("#spec-list img").bind("mouseover",function() {
            var src=$(this).attr("src");
            $("#spec-n1 img").eq(0).attr({
                src:src.replace("\/n5\/","\/n1\/"),
                jqimg:src.replace("\/n5\/","\/n0\/")
            });
            $(this).css({
                "border":"2px solid #ff6600",
                "padding":"1px"
            });
        }).bind("mouseout",function() {
            $(this).css({
                "border":"1px solid #ccc",
                "padding":"2px"
            });
        });

        $("#spec-list img").bind("mouseover",function() {
            var src = $(this).attr("src");
            $("#spec-n1 img").eq(0).attr({
                src:src.replace("\/n5\/","\/n1\/"),
                jqimg:src.replace("\/n5\/","\/n0\/")
            });
            $(this).css({
                "border":"2px solid #ff6600",
                "padding":"1px"
            });
        }).bind("mouseout",function(){
            $(this).css({
                "border":"1px solid #ccc",
                "padding":"2px"
            });
        });

    });
</script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/lib.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/163css.js"></script>
</html>
