<body style="height:100%">
<style>
    .product-list{
        background: white;
    }
    .list-product .p-item .p-cont .pinfo .num.delete {
        width: 32px;
        height: 32px;
        margin: 0 auto;
        background-image: url(__PUBLIC__/images/sprites.png);
        -webkit-background-size: 160px;
        background-size: 160px;
        background-position: -32px -128px;
    }
</style>
<div id="a-wrap">
    <section id="section" class="section">
        <article id="article" class="article pf">
            <div class="card-list">
                <div class="tabBox tabNavControl" id="tabBox1">
                    <div class="card-item n-m">
                        <ul class="item-tab hd n-m" data-note="切换栏目">
                            <li class="item-cont <eq name='ac' value='un'>on</eq>">
                                <a href="<{:U('myBox')}>?ac=do">已选</a>
                            </li>
                            <li class="item-cont <eq name='ac' value='do'>on</eq>">
                                <a href="<{:U('myBox')}>?ac=un">未选</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-list list-product bd product-list-border" id="tabBox1-bd">
                        <ul id="goodList" class="good_list">
                            <volist name="list" id="vo">
                                <li>
                                    <div class="p-item"><a href="<{:U('mobile/item')}>?id=<{$vo.gid}>" class="p-img">
                                        <img src="__ROOT__/upload/<{$vo.img}>" alt="<{$vo.name}>"></a>
                                        <div class="p-cont">
                                            <div class="ptit">
                                                <div class="mtit"><{$vo.name}></div>
                                                <div class="atit">代理价:￥<{$vo.vip_price}></div>
                                            </div>
                                            <div class="pinfo">
                                                <div class="price">￥<{$vo.price}></div>
                                                <eq name="ac" value="un">
                                                    <a href="<{:U('doBox')}>?ac=<{$ac}>&id=<{$vo.gid}>">
                                                        <div class="num delete"></div>
                                                    </a>
                                                    <else />
                                                    <a href="<{:U('doBox')}>?ac=<{$ac}>&id=<{$vo.gid}>">
                                                        <div class="num addcart"></div>
                                                    </a>
                                                </eq>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <include file="Public/mFooter" on="4" />
    </section>
</div>
<script src="__PUBLIC__/js/echo.js"></script>
<script>

</script>
</body>