<body class="g-bg" style="height:100%">
<div id="a-wrap">
    <section id="section" class="section">
        <article id="article" class="article pf">
            <div class="card-list">
                <div class="tabBox tabNavControl" id="tabBox1">
                    <div class="card-item n-m">
                        <input type="hidden" id="listType" value="1">
                        <ul class="item-tab hd n-m" data-note="切换栏目">
                            <li class="item-cont on" value="1">待付款</li>
                            <li class="item-cont" value="2">待发货</li>
                            <li class="item-cont" value="3">已发货</li>
                        </ul>
                    </div>
                    <div class="bd" id="tabBox1-bd">
                        <div class="con" data-note="切换内容一">
                            <ul id="obligationList">

                            </ul>
                        </div>
                    </div>
                </div>
                <div id="loading" style="text-align:center;margin-left:auto; margin-right:auto;border:0px solid #5ea626;width:30%;color:red;">
            </div>
        </article>
        <include file="Public/mFooter" on="4" />
    </section>
</div>
    <script src="__PUBLIC__/js/echo.js"></script>
    <script>
        var page = 1;
        var hasMore = true;
        var status = '1';
        var loadGif = '<img src="__PUBLIC__/images/loadingPic.gif">';
        $(window).ready(function(){

            getOrderList();

            $(window).scroll(function(){
                totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
                if ($(document).height() <= totalheight){
                    getGoodsList();
                    console.log($(window).height());
                }
            })

            $('.item-cont').click(function(){
                page = 1;
                hasMore = true;
                status = $(this).attr('value');
                $('.item-cont').removeClass('on');
                $(this).addClass('on');
                $('#obligationList').html('');
                getOrderList();
            })

        });

        function getOrderList(){
            if(hasMore){
                $.ajax({
                    url:"<{:U('UserM/orderList')}>",
                    data:{
                        p:page,
                        status:status
                    },
                    beforeSend:function(){
                        $('#loading').html(loadGif)
                    },
                    success:function(data){
                        hasMore = false;
                        if(data.status=='success'){
                            if(data.num>0){
                                var li = '';
                                $.each(data.list,function(i,vo){
                                    li += '<li class="card-item"><div class="product-list list-row"> <div class="p-itemrow"> <div class="p-hd"> <div class="p-hd-l">订单号:'+vo.trade+'</div> <div class="p-hd-r">'+vo.status+'</div> </div> <a class="p-item jump order-item" href="<{:U('UserM/order')}>?id='+vo.trade+'" >';
                                    goodsUL = '';
                                    $.each(vo.goods,function(i,v){
                                        goodsUL += '<div class="p-img"><img src="__ROOT__/upload/'+v.img+'" alt=""> </div> <div class="p-cont"> <div class="ptit"> <ul> <li class="mtit">'+v.name+'</li> <li class="atit">下单时间:'+vo.time+'</li> </ul> </div> </div>';
                                    });
                                    li += goodsUL+'</a> <div class="p-ft"><div class="p-ft-l red"><u>¥'+vo.goods_amount+'</u></div> </div></div></div></li>';
                                })
                                $('#obligationList').append(li);
                                if(data.num==16){
                                    hasMore = true;
                                }
                            }else {
                                $('#loading').html('到底了');
                            }
                            page = data.p;
                        }else {
                            $('#loading').html('系统错误');
                        }
                        $('#loading').html('到底了');
                    }
                })
            }else {
                $('#loading').html('到底了');
            }
        }
    </script>
</body>

